body,
dd,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
ol,
p,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
}

a {
    color: #fff;
    text-decoration: none
}
.ico-dukeyin {
    background: #1c1c1c;
    background-image: linear-gradient(to bottom, #303030, #2b2b2b, #262626, #212121, #1c1c1c);
}
.ico-keepmins {
    background: #34b6e3;
    background-image: linear-gradient(to bottom, #34b6e3, #2ea8d9, #2a9bcf, #298dc4, #2980b9);
}
.ico-squares {
    background: #ffd200;
    background-image: linear-gradient(to bottom,#ffd200,#fcc300,#f7b305,#f2a50c,#eb9612);
}
.ico-psn {
    background: #276cc2;
}

html{
    -webkit-text-size-adjust: 100%;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
body {
    height: 90vh;
    overflow-x:hidden;
    font-size: 100%;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Microsoft YaHei, PingFang SC, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

#wrap {
    display: inline;
    max-width: 1800px;
    height: 100%;
    margin: 0 auto;
}

#top {
    margin-top: 50px;
    width: 100%;
    height: 162px
}

#main {
    margin-top: 50px
}
#logo {
    margin: 0 auto;
    text-align: center
}

#logo img {
    max-width: 150px;
}
img.logo.default_logo {
    margin-bottom: -20px;
}

#logo h1 {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #767676;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 2px;
}
ul li {
    text-align: center;
    margin: 10px 10px 15px 10px;
    min-width: 0;
}
div ul li a:visited,
ul li a:active,
ul li a:link {
    text-decoration: none
}
ul li a p {
    height: 32px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 3px #767676;
    font-size: 14px;
    line-height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
ul li a figcaption{
    font-size:.8em;
    color: #dfeffb;
    
    text-shadow: 0 0 2px #767676;
}

.icon {
    fill: currentColor;
    overflow: hidden;
    width: 66px;
    height: 66px;
    display: block;
    border-radius: 20px;
    padding: 15px;
    margin: 0 auto;
}
#footer {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    color: rgba(255, 255, 255, .8);
    overflow: visible !important;
    z-index: 10
}

.footer-contents {
    padding: 0 10px
}

.footer-contents .footer-link-separator {
    background-color: #cbcbcb;
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 5px;
}

.footer-contents a,
.footer-contents a:active,
.footer-contents a:focus {
    text-decoration: none;
    color: #fff;
    color: rgba(255, 255, 255, .8)
}

.footer-contents a:hover {
    color: #fff
}